[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/rep-contracts"]
	path = lib/rep-contracts
	url = https://github.com/ATXDAO/rep-contracts
[submodule "lib/reputation"]
	path = lib/reputation
	url = https://github.com/ATXDAO/reputation
