[submodule "packages/smart-contracts/lib/forge-std"]
	path = packages/smart-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/smart-contracts/lib/reputation"]
	path = packages/smart-contracts/lib/reputation
	url = https://github.com/ATXDAO/reputation
	