[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/reputation"]
	path = reputation-contracts/reputation
	url = https://github.com/ATXDAO/reputation.git
