[submodule "reputation-contracts/lib/forge-std"]
	path = reputation-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "reputation-contracts/lib/reputation"]
	path = reputation-contracts/lib/reputation
	url = https://github.com/ATXDAO/reputation
